$primary-font: "Inter", sans-serif;
$secondary-font: "Lato", sans-serif;

// Dark mode
$primary-color: #0d0e10; //; Đen chính
$header-color: #191d20; // Đen Header
$content-body-color: #121315; // Background content body & task & light button
$background-task: #191d20; // and input visibility

$active-tab: #1d2025;
$input-search: #272a2f; // and dark button

$text-primary: #2b85ff;
$text-danger: #e55f4b;
$text-warn: #f2ad62;
$text-success: #26aa4b;

$badge-redesign: #333c5b;
$badge-mobile: #325b3d;
$badge-idea: #583556;

$text-color-1: #ffffff;
$text-color-2: #97a3b3;
$text-color-3: #5e5f61;
$text-color-4: #4c5157;
$text-color-5: #cabefe;

// $secondary-color: #0173f9;
// $secondary-color-lighter: #579aff;
// $third-color: #db48ff;
// $fourth-color: #ff447c;

// $border-gray: #f0f1f6;
// $border-gray-dark: #cdcfd4;

// $background-gray: #e5e5e5;
// $background-light: #ffffff;
// $background-user: #f2e7e1;

// $text-white: #ffffff;
// $text-dark: #081615;

// $text-gray: #61677f;

// $text-gray-lighter: #acb2be;
// $text-grayer: #9fa9bd;

// $text-danger: #f25f64;
// $text-danger-lighter: #fff5f5;
// $text-warn: #f2ad62;
// $text-success: #56c456;
// $text-success-lighter: #f5fbf5;

// $available: #12ba76;
// $busy: #f33d3d;
// $offline: #dbdbdb;

// $box-shadow: 0px 50px 50px -50px rgba(82, 81, 81, 0.16);

$opacity80: 0.8;

// color: #8146ff !important;
// background-color: #fff;
// border: 1px solid #8146ff !important;

// background-color: #8146ff !important;
// border: 1px solid #ccb7fb;
