<section class="sidebar">
  <div class="sidebar__logo">
    <img
      class="logo__img"
      srcset="../../../../assets/images/logo/sticky_32.png"
      alt="Logo Todo App."
    />
    <h1 class="logo__name">VRO<span class="logo__dot">.</span></h1>
  </div>
  <div class="sidebar__menu">
    <div class="sidebar__menu-title">Menu</div>

    <div class="sidebar__menu-item">
      <div class="sidebar__menu-item-icon">
        <i class="fa-solid fa-table-columns"></i>
      </div>
      <div class="sidebar__menu-item-title">Home</div>
    </div>

    <div class="sidebar__menu-item">
      <div class="sidebar__menu-item-icon">
        <i class="fa-solid fa-table-columns"></i>
      </div>
      <div class="sidebar__menu-item-title">Intervention</div>
    </div>

    <div class="sidebar__menu-item active">
      <div class="sidebar__menu-item-icon">
        <i class="fa-regular fa-circle-user"></i>
      </div>
      <div class="sidebar__menu-item-title">iOneSheet</div>
    </div>

    <div class="sidebar__menu-item">
      <div class="sidebar__menu-item-icon">
        <i class="fa-solid fa-list-check"></i>
      </div>
      <div class="sidebar__menu-item-title">Comms Protocol</div>
    </div>

    <div class="sidebar__menu-item">
      <div class="sidebar__menu-item-icon">
        <i class="fa-solid fa-calendar-days"></i>
      </div>
      <div class="sidebar__menu-item-title">Data Routing</div>
    </div>

    <div class="sidebar__menu-item">
      <div class="sidebar__menu-item-icon">
        <i class="fa-solid fa-calendar-days"></i>
      </div>
      <div class="sidebar__menu-item-title">Job Schedule</div>
    </div>

    <div class="sidebar__menu-item">
      <div class="sidebar__menu-item-icon">
        <i class="fa-solid fa-calendar-days"></i>
      </div>
      <div class="sidebar__menu-item-title">Crew Schedule</div>
    </div>

    <div class="sidebar__menu-item">
      <div class="sidebar__menu-item-icon">
        <i class="fa-solid fa-calendar-days"></i>
      </div>
      <div class="sidebar__menu-item-title">Log</div>
    </div>

    <div class="sidebar__menu-item">
      <div class="sidebar__menu-item-icon">
        <i class="fa-solid fa-calendar-days"></i>
      </div>
      <div class="sidebar__menu-item-title">Log Out</div>
    </div>
  </div>
  <!-- <div class="sidebar__general">
    <div class="sidebar__general-title">General</div>

    <div class="sidebar__general-item">
      <div class="sidebar__general-item-icon">
        <i class="fa-solid fa-gear"></i>
      </div>
      <div class="sidebar__general-item-title">Settings</div>
    </div>

    <div class="sidebar__general-item">
      <div class="sidebar__general-item-icon">
        <i class="fa-solid fa-circle-exclamation"></i>
      </div>
      <div class="sidebar__general-item-title">Support</div>
    </div>
  </div> -->

  <!-- <div class="sidebar__feature">
    <div class="sidebar__feature-help">
      <div class="sidebar__feature-help--icon">
        <i class="fa-regular fa-circle-question"></i>
      </div>
      <div class="sidebar__feature-help--title">
        <span>Help &</span>
        <span>getting started</span>
      </div>
      <div class="sidebar__feature-help--badge">8</div>
    </div>

    <div class="sidebar__feature-mode">
      <div class="sidebar__feature--light-mode">
        <i class="fa-regular fa-sun"></i>
        <span>Light</span>
      </div>
      <div class="sidebar__feature-dark-mode active">
        <i class="fa-solid fa-moon"></i>
        <span>Dark</span>
      </div>
    </div>
  </div> -->
</section>
